[submodule "fin/libs/xxHash"]
	path = fin/libs/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "fin_db/libs/mariadbpp"]
	path = fin_db/libs/mariadbpp
	url = https://github.com/viaduck/mariadbpp.git
